<div class="navbar-expand-lg navbar-dark" style='background-color: #333333; border-radius: 0; margin-bottom: 0; border: 0; height: 30px;' role="navigation">
  <div class="container-fluid" style='height: 30px; max-width: 1000px;'>
	  <ul class="nav navbar-nav navbar-right" style='height: 30px;'>
		<li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="http://www.gznl.org/">
			<img src="{{ site.url }}{{ site.baseurl }}/images/header/home.svg" style='height: 20px; width: auto; margin: 0;'>
			Home</a></li>
		<li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://www.gznl.org/database/">
			<img src="{{ site.url }}{{ site.baseurl }}/images/header/database.svg" style='height: 20px; width: auto; margin: 0;'>
			Database</a></li>
		<li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://www.gznl.org/research/">
			<img src="{{ site.url }}{{ site.baseurl }}/images/header/research.svg" style='height: 20px; width: auto; margin: 0;'>
			Research</a></li>
		<li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://www.gznl.org/aboutus/">
			<img src="{{ site.url }}{{ site.baseurl }}/images/header/aboutus.svg" style='height: 20px; width: auto; margin: 0;'>
			About us</a></li>
		<li><a style='display: inline; padding: 15px 15px 5px 5px; line-height: 30px;' class="nav-link-0" href="https://gzlab.ac.cn/">
			GZNL-RDC
			<img src="{{ site.url }}{{ site.baseurl }}/images/header/gznl2.svg" style='height: 20px; width: auto; margin: 0;'>
			</a></li>
	  </ul>
  </div>
</div>

<!--
  <div class="search-container">
    <p class="search-text">Search for something:</p>
    <div class="search-box">
      <input type="text" placeholder="Search...">
    </div>
    <p class="additional-text">Additional text here...</p>
  </div>

  <div class="background-image">
    <img src="{{ site.url }}{{ site.baseurl }}/images/Picture-1.jpg" style='width: 100%; border-radius: 0; margin-top: 0; margin-bottom: 0;'>
  </div>
-->

<!-- <div class="full-width-image">
  <img src="{{ site.url }}{{ site.baseurl }}/images/homePage/lung_dev_background.png" class="img-fluid" alt="Responsive image">
</div>

<style>
	.full-width-image {
	  background-color: #8E1B11; /* 设置背景颜色为黄色 */
	  display: flex;
	  justify-content: flex-end; /* 图片右对齐 */
	}
	
	.full-width-image img {
	  height: 300px;
	  border-radius: 0;
	  margin-top: 0;
	  margin-bottom: 0;
	}
</style> -->

<!-- aoying -->
<div class="full-width-image">
	<div class="search-box">
	  <div class="search">
		<h2>GZNL's Respiratory Data Centre, GZNL-RDC</h2>
		<div class="i"><img src="{{ site.url }}{{ site.baseurl }}/images/header/Braincellatlaslogo-黑紫色.svg">
		  <h1>Brain Cell Atlas</h1>
		</div>
		<p>An atlas of brain cells</p>
		<div class="gcse-search">
			<input type="text" id="search-input" placeholder="Search...">
			<button type="button" class="search-btn" onclick="search()">
				<svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
					<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
				</svg>
			</button>
		</div>
		<!-- <script async src="https://cse.google.com/cse.js?cx=560632b54571a4f6c"></script>
  
		  <div class="gcse-search"></div> -->
        <br/>
		<!--p class="tip">Example searches: Lung, Nose, Airway</p-->
		<!-- <p style="color:red; font-size:20px;">This function is under construction</p> -->
		<p>Example: 
		  <a class="tip" href="{{ site.url }}{{ site.baseurl }}/database?search=Limbic system">Limbic system</a>&nbsp;&nbsp;
		  <a class="tip" href="{{ site.url }}{{ site.baseurl }}/database?search=Cerebellum">Cerebellum</a>&nbsp;&nbsp;
		  <a class="tip" href="{{ site.url }}{{ site.baseurl }}/database?search=Cerebral cortex" target="_blank">Cerebral cortex</a>&nbsp;&nbsp;
		  <!-- <a class="tip" href="https://aptamer.ribocentre.org/structures/">Structure</a>&nbsp;&nbsp; -->
	  </p>
	  </div>
	</div>
  </div>
  
  
  
  
  
  <style>
 .full-width-image {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    background: url({{ site.url }}{{ site.baseurl }}/images/homePage/brain_background2.png) no-repeat;

    background-size: cover; /* 使用 cover 让背景图片填充整个容器 */
    background-position: center; /* 让背景图片在容器中水平和垂直居中 */
}

.full-width-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}
  /* .full-width-image {
	  width: 100%;
	  height: 350px;
	  overflow: hidden;
	  border-radius: 0;
	  margin-top: 0;
	  margin-bottom: 0;
	  position: relative;
	  background: url({{ site.url }}{{ site.baseurl }}/images/homePage/background3.png) no-repeat;
	  background-size: 100% 100%
  }
  
  .full-width-image img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  object-position: center
  } */
  
  .search-box {
	  height: 100%;
	  width: 1300px;
	  margin: 0 auto;
	  display: flex;
	  align-items: center;
  }
  
  .search {
	  padding-top: 0px;
	  padding-bottom: 0px; 
	  padding-left: 20px; 
	  padding-right: 20px;
	  background: #fff;
	  position: absolute;
  }
  
  .search h2 {
	  font-size: 20px
  }
  
  .search .i {
	  display: flex;
	  align-items: center
  }
  
  .search .i img {
	  width: 70px;
	  height: 50px;
	  object-fit: contain
  }
  
  .search .i h1 {
	  font-size: 28px;
	  font-weight: 700;
	  margin-left: 10px
  }
  
  .search .tip {
	  font-size: 14px;
	  margin-top: 10px
  }
  
  .searchInput {
	  margin-top: 10px;
	  width: 450px;
	  height: 32px;
	  display: flex
  }
  
  .searchInput input {
	  flex: 1;
	  height: 100%;
	  line-height: 32px;
	  border: 1px solid #868686;
	  outline: 0;
	  border-radius: 7px;
	  padding: 0 10px
  }
  
  .gsc-control {
	width: 300px;
  }
  
  .gsc-control div {
	position: static;
  }
  
  /* Slight reset to make the preview have ample padding. */
  .gsc-control-cse {
	padding: 1em;
  }
  
  .gsc-control-cse,
  .gsc-control-cse .gsc-table-result {
	width: auto;
	font-family: Arial, sans-serif;
	font-size: 13px;
  }
  
  .gsc-control-wrapper-cse {
	width: 600px;
  }
  .gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
	  border-color: #23265F;
	  background-color: #23265F;
	  background-image: none;
	  filter: none;
	  height: 38px
  }
  
  .gsc-control-cse, .gsc-control-cse .gsc-table-result {
	  width: auto;
	  font-family: Arial, sans-serif;
	  font-size: 1px;
  }
  .gsc-input {
	  font-size: 16px;
	  color: #000000;
  }
  
  /* 新的搜索框样式 */
  .gcse-search {
	  display: flex;
	  align-items: center;
	  margin: 15px 0 8px 0;
	  width: 600px;
  }
  
  .gcse-search input {
	  flex: 1;
	  height: 35px;
	  padding: 0 15px;
	  border: 1px solid #e0e0e0;
	  font-size: 14px;
	  outline: none;
	  background: #fff;
	  color: #333;
	  transition: border-color 0.3s ease;
  }
  
  .gcse-search input:focus {
	  box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.1);
  }
  
  .gcse-search input::placeholder {
	  color: #999;
	  font-size: 13px;
  }
  
  .search-btn {
	  width: 69px;
	  height: 38px;
	  margin-left: 12px;
	  background: #23265f;
	  border: none;
	  color: white;
	  cursor: pointer;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
	  background: #343778;
  }
  
  .search-btn svg {
	  width: 18px;
	  height: 18px;
  }
  </style>






<div class="navbar navbar-expand-lg navbar-dark bg-primary" style='border-radius: 0; border: 0;' role="navigation">

  <div class="container-fluid" style='width: 1400px; font-size: 20px;'>
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
		
		<img class="navbar-brand" src="{{ site.url }}{{ site.baseurl }}/images/header/brain_logo_white.svg" style='height:50px;margin-top:-14px;margin-bottom:0;padding:2px 2px;border-radius: 0;' alt="logo">
		<!--b style='font-size: 32px; color: #eeeeee;'>RespiratoryCellAtlas</b-->
	</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<!-- <li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/dataviewer">Data Viewer</a></li> -->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle nav-link-1" data-toggle="dropdown">
				Data Viewer <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a class="nav-link-1" style="color: #23265F;" href="{{ site.url }}{{ site.baseurl }}/dataviewer_adult">Adult brain</a></li>
				<li><a class="nav-link-1" style="color: #23265F;" href="{{ site.url }}{{ site.baseurl }}/dataviewer_fetal">Fetal brain</a></li>
				<li><a class="nav-link-1" style="color: #23265F;" href="{{ site.url }}{{ site.baseurl }}/dataviewer_tumour">Tumour</a></li>
				<li><a class="nav-link-1" style="color: #23265F;" href="{{ site.url }}{{ site.baseurl }}/dataviewer_organoid">Organoid</a></li>
				<li><a class="nav-link-1" style="color: #23265F;" href="{{ site.url }}{{ site.baseurl }}/dataviewer_mouse">Mouse brain</a></li>
			</ul>
		<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/portrait">Portrait</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle nav-link-1" data-toggle="dropdown">
				Gene <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a class="nav-link-1" style="color: #23265F;" href="{{ site.url }}{{ site.baseurl }}/markers">Markers</a></li>
				<li><a class="nav-link-1" style="color: #23265F;" href="{{ site.url }}{{ site.baseurl }}/regiondeg">Region DEG</a></li>
				<li><a class="nav-link-1" style="color: #23265F;" href="{{ site.url }}{{ site.baseurl }}/celltypedeg">CellType DEG</a></li>
			</ul>
		<!-- <li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/exploration"><b>Exploration</b></a></li> -->
		<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/database">Database</a></li>
		<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/Helps">Help</a></li>
		<li><a class="nav-link-1" href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
	  </ul>
	</div>
  </div>
</div>

<script>
  document.getElementById('search-input').addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
      search();
    }
  });
  function search() {
	const searchInput = document.getElementById('search-input');
	const searchValue = searchInput.value;
	const url = `{{ site.url }}{{ site.baseurl }}/database?search=${searchValue}`;
	window.location.href = url;
  }
</script>
